@tailwind base;
@tailwind components;
@tailwind utilities;

/* "Trebuchet MS","Poppins","Arial","Roboto","Helvetica","Helvetica Neue","Monaco","Trebuchet MS"; */
body {
    font-family: "Trebuchet MS";
    /*Georgia   Bitstream Charter  serif  Trebuchet MS   Poppins*/
}

div.text-center {
    margin-top: -40px;
}

strong {
    font-weight: bolder;
    font-size: larger;
    /* color:#111827; */
}

p a {
    color: cornflowerblue;
}



/* svg#s-icon {
        fill: white;
    } */
/* .logo-wrapper svg path{
        fill: green !important;
      } */

/* html {
    font-family: "Trebuchet MS";
  } */


.microlight {

    /* background-color : #C4E4E8;
    color            : #052C36; */
    /* background-color : #282a36; */
    /* background-color: #1F2F33; */
    background-color: #111827;
    color: #B5F7FF;
    border-radius: 3px;
    text-shadow: 0px 0px 2px rgba(181, 248, 255, 0.418), 0px 0px 2px rgba(181, 248, 255, 0.226);
    border: 2px solid #3C575B;
    font-size: large !important;
    line-height: 1.4;
    padding-left: 5px;
    /* text-overflow: ; */
    /* white-space: normal; */
    /* word-break: break-all; */
    /* overflow-wrap: break-word !important; */

}

div.microlight {
    margin-top: 5px;
    /* display: flex; */
    /* word-break: break-all; */
    /* overflow-wrap: break-word; */

    /* width: 50px; */
    /* word-break: normal;
    overflow-wrap: break-word; */
    /* overflow-wrap: break-word !important; */

    /* white-space:normal; */

}

.portfolio-top {
    margin-bottom: -250px;
}

.portfolio-about-me {
    margin-top: -130px;
}

.portfolio-my-services {
    margin-top: -80px;
}

.portfolio-my-skills {
    margin-top: -90px;
}

@media (max-width: 500px) {
    .portfolio-about-me {
        margin-top: -100px;
    }

    /* .portfolio-my-skills{
        margin-top: -100px;
    } */

    .portfolio-my-services {
        margin-top: -50px;
    }
}

.projectImg {
    /* width:600px; */
    height: 210px;
}

html.light body img.edcartech-logo-type {
    content: url("../public/edcartech-long.png");
}

html.dark body img.edcartech-logo-type {
    content: url("../public/edcartech-long-white.png");
}

/* Gallery button animations */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes attention {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.attention-button {
    animation: blink 1.5s ease-in-out infinite alternate, attention 2s ease-in-out infinite;
}