@tailwind base;
@tailwind components;
@tailwind utilities;

/* "Trebuchet MS","Poppins","Arial","Roboto","Helvetica","Helvetica Neue","Monaco","Trebuchet MS"; */
body{
     font-family : "Poppins";
}

div.text-center{
    margin-top: -40px;
}

    /* svg#s-icon {
        fill: white;
    } */
    /* .logo-wrapper svg path{
        fill: green !important;
      } */

/* html {
    font-family: "Trebuchet MS";
  } */


.microlight {
    
    /* background-color : #C4E4E8;
    color            : #052C36; */
    /* background-color : #282a36; */
    /* background-color: #1F2F33; */
    background-color: #111827;
    color: #B5F7FF;
    border-radius:3px;
    text-shadow: 0px 0px 2px rgba(181, 248, 255, 0.418),0px 0px 2px rgba(181, 248, 255, 0.226);
    border: 2px solid #3C575B;
    font-size: large !important;
    line-height: 1.4;
    padding-left: 5px;
    /* text-overflow: ; */
    /* white-space: normal; */
}

div.microlight {
    margin-top: 5px;

}